editdistance==0.3.1
humanize>=0.5.1
labm8>=0.1.2
numpy>=1.10.4
prettytable==0.7.2
progressbar2>=3.16.0
psutil>=5.0.0
PyGithub==1.29
pytest-cov>=2.4.0
pytest>=3.0.7
pytz>=2016.7
requests>=2.11.1
SQLAlchemy==1.1.7
