{% extends "base.html" %}

{% block header %}
<title>CLgen Report</title>
{% endblock %}

{% block body %}
<div class="container">
  <div class = "row">
    <div class="col">
      <h1>{{ model.summary }}  <small class="text-muted">{{ corpus.summary }}</small></h1>
    </div>
  </div>

  <div class = "row">
    <div class="col">
      <h4>Training Loss</h4>
      <canvas id="loss-graph" width="800" height="350"></canvas>
    </div>
  </div>

  <div class = "row">
    <div class="col">
      <h4>Training Log</h4>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Epoch</th>
            <th scope="col">Step</th>
            <th scope="col">Learning rate</th>
            <th scope="col">Time per step</th>
            <th scope="col">Loss</th>
            <th scope="col">Samples</th>
          </tr>
        </thead>
        <tbody>
          {% for telemetry in data.epoch_telemetry | reverse %}
          <tr>
            <th scope="row">{{ telemetry.timestamp }}</th>
            <td>{{ telemetry.epoch }}</td>
            <td>{{ telemetry.step }}</td>
            <td>{{ telemetry.learning_rate }}</td>
            <td>{{ telemetry.us_per_step }}</td>
            <td>{{ telemetry.training_loss }}</td>
            <td>{% if not telemetry.pending %}
              <a href="/corpus/{{ corpus_id }}/model/{{ model_id }}/samples/{{ telemetry.epoch }}">Samples <i class="fas fa-angle-double-right"></i></a>
            {% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}


{% block footer %}
<script src="//cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script>
window.onload = function() {
  var ctx = document.getElementById('loss-graph').getContext('2d');
  window.myLine = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [{% for telemetry in data.telemetry %}'{{ telemetry.step }}',{% endfor %}],
      datasets: [{
        label: 'Training',
        fill: false,
        backgroundColor: window.chartColors.blue,
        borderColor: window.chartColors.blue,
        data: [{% for telemetry in data.telemetry %}{{ telemetry.training_loss}},{% endfor %}],
      }]
    },
    options: {
      responsive: true,
      tooltips: {
        mode: 'index',
        intersect: false,
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        xAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Step'
          }
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Loss'
          }
        }]
      }
    }
  });
};
</script>
{% endblock %}
