{% extends "layout.html" %}

{% block header %}
<title>{{ host }}</title>

<style>
  #test_results .card-header {
    padding: 0;
  }

  #test_results button.btn-link {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
  }

  #test_results button code {
    color: #fff;
    font-size: 1em;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ host }} at {{ invocation_datetime }}</h1>
      <div class="alert {% if delta.broken %}alert-danger{% elif delta.still_broken %}alert-warning{% else %}alert-success{% endif %}" role="alert">
        {% if delta.broken %}{{ delta.broken }} broken.{% endif %}
        {% if delta.still_broken %}{{ delta.still_broken }} still broken.{% endif %}
        {% if delta.fixed %}{{ delta.fixed }} fixed.{% endif %}
        {% if delta.still_pass %}{{ delta.still_pass }} still pass.{% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="accordion" id="test_results">
        {% for result in targets %}
        <div class="card">
          <div class="card-header" id="h{{ loop.index }}">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#t{{ loop.index }}" aria-expanded="true" aria-controls="t{{ loop.index }}">
                {% if result.fail %}
                <span class="badge badge-danger">Fail</span>
                {% else %}
                <span class="badge badge-success">Pass</span>
                {% endif %}
                <code>{{ result.bazel_target }}</code> in {{ result.runtime }}
                {% if result.changed %}<span class="badge badge-secondary">Change</span>{% endif %}
              </button>
            </h2>
          </div>
          <div id="t{{ loop.index }}" class="collapse" aria-labelledby="h{{ loop.index }}">
            <div class="card-body">
              <pre>
bazel test {{ result.bazel_target }}
{{ result.log | e }}
              </pre>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
  var GetUrlComponents = function() {
    if (location.hash == null || location.hash == "") {
      return [];
    }

    var components = location.hash.substr(1).split(",");
    components.forEach(function(_, i) {
      components[i] = parseInt(components[i].substr(1));
    });

    components = components.filter(function(x) {
      return !isNaN(x);
    });
    return components;
  }

  var SetUrlComponents = function(components) {
    components.sort();
    components.forEach(function(_, i) {
      components[i] = 't' + components[i];
    });
    return components.join(",");
  }

  $(document).ready(function () {
    // Show collapsible element selected in URL.
    if (location.hash != null && location.hash != "") {
      var components = location.hash.substr(1).split(",");
      components.forEach(function (component) {
        // Show the collapsible element.
        $('#' + component + '.collapse').collapse('show');
      });
    }

    // Set URL to current collapsible element.
    $('#test_results button').click(function() {
      var target_id = $(this).attr('data-target');
      var target_num = parseInt(target_id.substr(2));
      var classes = $(target_id).attr("class");
      if (classes.indexOf("show") == -1) {
        // We are clicking on a target to show it.
        var components = GetUrlComponents();
        components.push(target_num);
        location.hash = SetUrlComponents(components);
      } else {
        // We are clicking on a target to hide it.
        var components = GetUrlComponents();
        components.splice(components.indexOf(target_num), 1);
        location.hash = SetUrlComponents(components);
      }
    });
  });
</script>
{% endblock %}
