{% extends "base.html" %}

{% block header %}
<title>CLgen RT</title>

<style>
  .console {
    font-size: 1.3em;
    white-space: pre;
    font-family: monospace;
  }
</style>
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>CLgen RT</h1>
      <h3>Runtime: <span id="runtime"></span></h3>
      <h3>Status: <span id="status"></span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="console"><span id="output">Loading ...</span><span id="candidate" class="text-danger"></span></p>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
  var outputText = $('#output');
  var candidateText = $('#candidate');
  var statusSpan = $('#status');
  var runtimeText = $('#runtime');
  var eventSource = new EventSource("/append_state");
  eventSource.onmessage = function(e) {
    var data = JSON.parse(e.data)
    console.log(data);
    outputText.html(data['sample_in_progress']);
    candidateText.html(data['candidate']);
    statusSpan.text(data['status']);
    runtimeText.text(data['elapsed']);
  };
</script>
{% endblock %}