attrs==19.1.0
autobahn==19.2.1
Automat==0.7.0
buildbot==2.0.1
buildbot-console-view==2.0.1
buildbot-grid-view==2.0.1
buildbot-waterfall-view==2.0.1
buildbot-worker==2.0.1
buildbot-www==2.0.1
constantly==15.1.0
decorator==4.3.2
future==0.17.1
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
Jinja2==2.10
MarkupSafe==1.1.1
pbr==5.1.3
PyHamcrest==1.9.0
PyJWT==1.7.1
python-dateutil==2.8.0
PyYAML==5.1
six==1.12.0
SQLAlchemy==1.3.0
sqlalchemy-migrate==0.12.0
sqlparse==0.2.4
Tempita==0.5.2
Twisted==18.9.0
txaio==18.8.1
zope.interface==4.6.0
