[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/skelcl"]
	path = extern/skelcl
	url = git@bitbucket.org:skelcl/skelcl.git
[submodule "tools/llvm"]
	path = tools/llvm
	url = git@github.com:ChrisCummins/llvm.git
[submodule "extern/intel-tbb"]
	path = extern/intel-tbb
	url = https://github.com/intel-tbb/intel-tbb.git
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = https://github.com/google/benchmark.git
[submodule "extern/triSYCL"]
	path = extern/triSYCL
	url = https://github.com/amd/triSYCL.git
[submodule "extern/boost"]
	path = extern/boost
	url = https://github.com/boostorg/boost.git
