[submodule "docs/2016-01-adapt"]
	path = docs/2016-01-adapt
	url = git@github.com:ChrisCummins/paper-autotuning-opencl-wgsize.git
[submodule "docs/2016-01-hlpgpu"]
	path = docs/2016-01-hlpgpu
	url = git@github.com:ChrisCummins/paper-towards-collaborative-performance-tuning.git
[submodule "docs/2017-02-cgo"]
	path = docs/2017-02-cgo
	url = git@github.com:ChrisCummins/paper-synthesizing-benchmarks.git
[submodule "experimental/humanorrobot.uk"]
	path = src/humanorrobot.uk
	url = git@github.com:ChrisCummins/humanorrobot.uk.git
[submodule "src/cldrive"]
	path = src/cldrive
	url = git@github.com:ChrisCummins/cldrive.git
[submodule "src/clgen"]
	path = src/clgen
	url = git@github.com:ChrisCummins/clgen.git
[submodule "src/labm8"]
	path = src/labm8
	url = git@github.com:ChrisCummins/labm8.git
[submodule "src/lmk"]
	path = src/lmk
	url = git@github.com:ChrisCummins/lmk.git
[submodule "src/shutterbug"]
	path = src/shutterbug
	url = git@github.com:ChrisCummins/shutterbug.git
[submodule "src/chriscumms.cc"]
	path = src/chriscumms.cc
	url = git@github.com:ChrisCummins/chriscummins.github.io.git
[submodule "src/gh-archiver"]
	path = src/gh-archiver
	url = git@github.com:ChrisCummins/gh-archiver.git
[submodule "docs/2017-09-pact"]
	path = docs/2017-09-pact
	url = https://github.com/ChrisCummins/paper-end2end-dl
[submodule "learn/interactive-coding-challenges"]
	path = learn/interactive-coding-challenges
	url = git@github.com:ChrisCummins/interactive-coding-challenges.git
[submodule "src/emu"]
	path = src/emu
	url = git@github.com:ChrisCummins/emu.git
