language: generic

services:
  - docker

install:
  - docker pull chriscummins/phd_build:latest
  - chmod -R 777 $TRAVIS_BUILD_DIR

script:
  - docker run -v$TRAVIS_BUILD_DIR:/phd chriscummins/phd_build:latest -c "./configure --noninteractive && ./tools/flaky_bazel.sh run --config=travis //tools:whoami"
