<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{ '/img/logo.svg' | relative_url }}" alt="FreeFocus" /></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><i class="fa fa-list" aria-hidden="true"></i> <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="fa fa-calendar-o" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-address-book-o" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
      </ul>
      <form class="nav navbar-nav navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>
  </div> <!-- /.container-fluid -->
</div> <!-- /.navbar -->