# See: https://bazel.build/versions/master/docs/bazel-user-manual.html#flag--compilation_mode

build --python_top=//:python3.6
test --python_top=//:python3.6
run --python_top=//:python3.6

# Build and test options:
build --verbose_failures
test --verbose_failures

build --copt='-Wno-unused-command-line-argument'
test --copt='-Wno-unused-command-line-argument'

build --cxxopt='-std=c++14'
test --cxxopt='-std=c++14'

build --cxxopt='-Wc++1z-extensions'
test --cxxopt='-Wc++1z-extensions'

# Build options:
build --compilation_mode opt
build --ignore_unsupported_sandboxing

# Test options:
test --test_output=errors
test --keep_going
