# See: https://bazel.build/versions/master/docs/bazel-user-manual.html#flag--compilation_mode
build --compilation_mode opt

build --cxxopt='-std=c++14'
build --ignore_unsupported_sandboxing

# FIXME: set this dependent on macOS / linux:
build --define opencl_ld='-framework OpenCL'
