"*":
  core:
    disabledPackages: [
      "scroll-through-time"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "89238f39-41b1-38a3-2657-397fa4728b99"
  "file-types":
    ipy: "source.python"
  linter: {}
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  welcome:
    showOnStartup: false
