"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 12
    showInvisibles: true
  "exception-reporting":
    userId: "89238f39-41b1-38a3-2657-397fa4728b99"
  linter:
    showErrorPanel: false
  "markdown-preview":
    useGitHubStyle: true
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  welcome:
    showOnStartup: false
